body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
}

.container {
    border-width: 15px;
    background-color:white;

    border-color: rgb(26, 22, 22);

    border-style: double;

    padding: 20px;
    width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

.submit-btn {
    margin: 10px;
    background-color: yellow;
    color: black;
}